.App {
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
}
.todos {
  border: 2px solid black;
  border-radius: 10px;
  width: 50%;
  margin: 10px;
  padding: 10px;
}
.title {
  border-bottom: 2px solid #2f74c0;
  text-align: center;
}
.completed__todos {
  border: 2px solid black;
  border-radius: 10px;
  width: 50%;
  margin: 10px;
  padding: 10px;
}
.btn {
  background-color: #2f74c0;
  color: #fafafa;
  border-radius: 10px;
  margin: 3px;
  border: none;
  cursor: pointer;
}
.item button {
  width: 90px;
  height: 40px;
  margin: 12px;
  border-radius: 10px;
  font-weight: bold;
  right: 0px;
  border: none;
  font-size: 15px;
  background-color: #2f74c0;
  color: #fafafa;
  box-shadow: 0 0 10px black;
}
input {
  border-radius: 50px;
  width: 60%;
  padding: 10px 15px;
  font-size: 15px;
  margin-left: 20px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}
.submitBtn {
  width: 40px;
  height: 40px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 15px;
  background-color: #2f74c0;
  color: #fafafa;
  box-shadow: 0 0 10px black;
}
